localhost {
	respond "Hello, world!"
	tls internal
}

127.0.0.1 {
	respond "Hello, 2"
	tls internal
}

test.woof {
	respond "Hewwo"
	tls internal
}

hub.woof {
	reverse_proxy http://127.0.0.1:49501
	tls internal
}

