[Unit]
Description=Hub
ConditionPathIsDirectory=%h/Docs/Programming/Repositories/default/hub

[Service]
Type=exec
WorkingDirectory=%h/Docs/Programming/Repositories/default/hub/build
ExecStart=/usr/bin/env PATH="%h/.local/state/woof/tools/core/nodejs/v20.4.0/bin:$PATH" node index.js
Environment=PORT=49501
Restart=on-failure

[Install]
WantedBy=multi-user.target
