[Unit]
Description=Hub
ConditionPathIsDirectory=%h/apps/hub/

[Service]
Type=exec
WorkingDirectory=%h/apps/hub/build
; ExecSearchPath=%h/.local/state/woof/tools/core/nodejs/v20.4.0/bin # TODO: Systemd 250
ExecStart=%h/.local/bin/mise exec -- node index.js
Environment=PORT=49501
Restart=on-failure

[Install]
WantedBy=default.target
