[Unit]
Description=Hub
ConditionPathIsDirectory=%h/.dev/repositories/hub/

[Service]
Type=exec
WorkingDirectory=%h/.dev/repositories/hub/build
ExecStart=%h/.local/bin/mise exec -- node index.js
Environment=PORT=49501
Restart=on-failure

[Install]
WantedBy=default.target
